
constant-values {
    font-size: 17px;
    margin: 0px 10px;
    max-width: 900px;
    font-weight: normal;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

.value-type {
    text-align: center;
    text-transform: lowercase;
    padding: 5px 10px;
    font-weight: normal;
}

.value-number {
    text-align: center;
    padding: 5px 10px;
    font-weight: normal;
}

.value-units {
    text-align: center;
    padding: 5px 10px;
    font-weight: normal;
}

.value-copybuttons {
    display: none;
}

@media (min-width:400px) {
    .constant-values {
        font-size: 22px;
        margin: 27px auto;
    }
}

@media (min-width:700px) {
    .value {
        flex-direction: row;
        margin: 0px;
    }

    .value-type {
        width: 150px;
        text-align: right;
        vertical-align: bottom;
    }

    .value-number {
        width: 250px;
        text-align: right;
        vertical-align: bottom;
    }

    .value-units {
        width: 100px;
        text-align: left;
        vertical-align: bottom;
    }
}

@media (min-width:1000px) {
    .value-copybuttons {
        display: block;
        width: 350px;
        padding: 5px 10px;
        vertical-align: bottom;
    }
}
