<div class="formula">
    <h2 class="formula-title">{{formula.Title}}</h2>
    <div class="formula-content" compile="getFormulaContent()">
    </div>
    <div class="formula-identifiers">
        <p>where,</p>
        <table>
            <tbody>
                <tr ng-repeat="identifier in formula.Identifiers">
                    <td class="identifier-content">
                        <katex latex="{{identifier.Content}}"></katex>
                    </td>
                    <td compile="replaceMathematicsMarkers(identifier.Definition)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="formula-interpretation">{{formula.Interpretation}}</p>
    <div class="formula-fields">
        <span class="field" ng-repeat="field in formula.Fields">{{field}}</span>
    </div>
    <div class="formula-latex attribute">
        <div class="attribute-header">LaTeX:</div>
        <div id="formula-latex-copyfrom" class="formula-latex-content attribute-content">{{formula.Content}}</div>
    </div>
    <button class="copybutton" data-clipboard-target="#formula-latex-copyfrom">Copy</button>
    <div class="formula-references">
        <h3>References</h3>
        <ol ng-show="formula.References.length > 0">
            <li ng-repeat="reference in formula.References">
                <span ng-if="reference.Type == 'Webpage'">
                    <em>{{reference.Title}}</em>, {{reference.WebsiteTitle}} - <a href="{{reference.URL}}" target="_blank" title="{{reference.Title}}">{{reference.URL}}</a>
                </span>
                <span ng-if="reference.Type == 'Book'">
                    <em>{{reference.Title}}</em>, {{getAuthorsString(reference.Authors)}} ({{reference.PublisherName}}) <strong>ISBN {{reference.ISBN}}</strong>
                </span>
            </li>
        </ol>
        <p ng-show="formula.References.length == 0">
            No references have been given for this formula.
        </p>
    </div>
    <div class="formula-seemore" ng-show="formula.SeeMore.length > 0">
        <h3>See more</h3>
        <ul>
            <li ng-repeat="link in formula.SeeMore">
                {{link.Name}} - <a href="{{link.URL}}" target="_blank">{{link.URL}}</a>
            </li>
        </ul>
    </div>
</div>