<div class="formulaset">
    <h2 class="formulaset-title">{{formulaSet.Title}}</h2>
    <div class="formulaset-formulae">
        <div class="formulaset-formula" ng-repeat="formula in formulaSet.Formulae">
            <h3 class="formulaset-formula-title"><a href="/#/formula/{{formula.URLReference}}">{{formula.Title}}</a></h3>
            <div class="formulaset-formula-content">
                <a href="/#/formula/{{formula.URLReference}}">
                    <div compile="getFormulaContent(formula.Content)">
                    </div>
                </a>
            </div>
            <p class="formulaset-formula-interpretation" compile="replaceMathematicsMarkers(formula.Interpretation)"></p>
        </div>
    </div>
    <div class="formula-identifiers" style="display:none;">
        <div class="identifier" ng-repeat="identifier in formulaSet.Identifiers">
            <div class="identifier-content">
                <mathematics content-type="latex" content="{{identifier.Content}}"></mathematics>
            </div>
            <div class="identifier-classes">
                <span ng-show="identifier.Type == 'Variable'" class="variable" title="a variable">var.</span>
                <span ng-show="identifier.Type == 'Constant'" class="constant" title="a constant">const.</span>
                <span ng-show="identifier.ObjectType == 'Scalar'" class="scalar" title="a scalar quantity">scal.</span>
                <span ng-show="identifier.ObjectType == 'Vector'" class="vector" title="a vector quantity">vec.</span>
                <span ng-show="identifier.ObjectType == 'Matrix'" class="matrix" title="a matrix">matr.</span>
                <span ng-show="identifier.ObjectType == 'Tensor'" class="tensor" title="a tensor (one which is more complicated than a vector or a matrix)">tens.</span>
                <span ng-show="identifier.ObjectType == 'WaveFunctionObject'" class="tensor" title="a quantum mechanical wave-function">w.f.</span>
            </div>
            <div class="identifier-interpretation" compile="replaceMathematicsMarkers(identifier.Definition)"></div>
            <div class="identifier-dimensions">
                <mathematics content-type="latex" content="{{identifier.Dimensions}}"></mathematics>
            </div>
            <div class="identifier-units">
                <mathematics content-type="latex" content="{{identifier.Units}}"></mathematics>
            </div>
        </div>
    </div>
    <div class="formula-fields">
        <span class="field" ng-repeat="field in formulaSet.Fields" style="background-color: {{getColourOfWord(field)}};"><a href="#/field/{{field}}" title="Search for other formulae in {{field}}.">{{field}}</a></span>
    </div>
    <div class="formula-tags">
        <span class="tag" ng-repeat="tag in formulaSet.Tags"><a href="#/tag/{{tag}}" title="Search for other formulae with the tag '{{tag}}'.">{{tag}}</a>{{$last ? '' : ',&nbsp;'}}</span>
    </div>
    <div class="formula-linktothispage">
        <h3>Link to this formula set</h3>
        <p>If you want to reference this formula set on a page on your own website, add the following HTML &lt;a&gt; tag somewhere on the page.</p>
        <code id="linktothispage" class="bibtex-content">{{getHTMLLink()}}</code>
        <button class="copybutton" data-clipboard-target="#linktothispage">Copy</button>
    </div>
    <div class="formula-seemore">
        <h3>See more</h3>
        <p style="text-align:left;">The original .formula files that this page was generated from can be viewed at:</p>
        <ul>
            <li ng-repeat="formula in formulaSet.Formulae"><a target="_blank" title="Physics Formulae Source Code" href="https://github.com/BenjaminTMilnes/PhysicsFormulae/blob/master/PhysicsFormulae.Formulae/{{formula.Reference}}.formula">github.com/BenjaminTMilnes/PhysicsFormulae/.../{{formula.Reference}}.formula</a></li>
        </ul>
    </div>
</div>