
.formula-editor th, .formula-editor td {
    padding: 10px 17px;
}

.formula-editor th {
    text-align: right;
    font-weight: normal;
    width: 120px;
}

.formula-editor input[type=text], .formula-editor textarea {
    font-family: inherit;
    font-weight: normal;
    box-sizing: border-box;
}

.formula-editor input[type=text] {
    padding: 10px 17px;
}

.formula-editor-title, .formula-editor-content, .formula-editor-interpretation, .formula-editor-filename, .formula-editor-filetext {
    width: 700px;
}

.formula-editor textarea {
    padding: 17px;
}


.formula-editor input, .formula-editor textarea {
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    outline: none;
}

    .formula-editor input:focus, .formula-editor textarea:focus {
        border: 1px solid #105ecc;
        outline: none;
    }

.formula-editor-identifier, .formula-editor-variant {
    background-color: #F9F9F9;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 0px;
    box-sizing: border-box;
}

.horizontalfieldgroup {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

.horizontalfieldgroup-label{
    padding: 10px 17px;
      font-weight:normal;
         min-width:100px;
}

.horizontalfieldgroup-input{
        min-width:400px;
}

.verticalfieldgroup {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
    width: 270px;
}

.verticalfieldgroup-label {
    text-align: center;
    font-weight: normal;
    padding: 10px;
}

.verticalfieldgroup-value {
    width: 100%;
}


.formula-editor .option {
    font-size: 17px;
    display: inline-block;
    background-color: #F0F0F0;
    border-radius: 2px;
    padding: 7px 17px;
    margin: 2px;
    cursor: pointer;
    font-weight: normal;
    min-width: 40px;
    text-align: center;
}

.formula-editor .option-set {
    color: #ffffff;
    background-color: #643491;
}


.formula-editor .variable, .formula-editor .constant, .formula-editor .scalar, .formula-editor .vector, .formula-editor .matrix, .formula-editor .tensor {
    color: #ffffff;
}

.formula-editor .variable {
    background-color: #dd1c83;
}

.formula-editor .constant {
    background-color: #4fbc14;
}

.formula-editor .scalar {
    background-color: #f79216;
}

.formula-editor .vector {
    background-color: #2cb5f4;
}

.formula-editor .matrix {
    background-color: #1da011;
}

.formula-editor .tensor {
    background-color: #c4119a;
}
