<div class="formula-editor">
    <h2>Formula Editor</h2>
    <table>
        <tr>
            <th>Title</th>
            <td>
                <input type="text" ng-model="formulaTitle" class="formula-editor-title" />
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                <input type="text" ng-model="formulaContent" class="formula-editor-content" />
            </td>
        </tr>
        <tr>
            <th>Interpretation</th>
            <td>
                <textarea ng-model="formulaInterpretation" class="formula-editor-interpretation" rows="3"></textarea>
            </td>
        </tr>
        <tr ng-repeat="identifier in formulaIdentifiers">
            <th>{{($index == 0)?'Identifiers':'';}}</th>
            <td>
                <div class="formula-editor-identifier">
                    <div class="horizontalfieldgroup">
                        <vfg label="'LaTeX'" value="identifier.content"></vfg>
                        <vfg label="'Reference'" value="identifier.reference"></vfg>
                    </div>

                    <textarea ng-model="identifier.interpretation" rows="3"></textarea>

                    <div class="horizontalfieldgroup">
                        <div style="margin:20px;">
                            <span ng-repeat="type in possibleIdentifierTypes" ng-click="identifier.type = type;" ng-class="(identifier.type == type)? type.toLowerCase():''" class="option" title="{{type}}">{{ getAbbreviation(type)}}</span>
                        </div>
                        <div style="margin:20px;">
                            <span ng-repeat="type in possibleIdentifierObjectTypes" ng-click="identifier.objectType = type;" ng-class="(identifier.objectType == type)? type.toLowerCase():''" class="option" title="{{type}}">
                                {{ getAbbreviation(type)}}
                            </span>
                        </div>
                    </div>

                    <div class="horizontalfieldgroup">
                        <vfg label="'Dimensions'" value="identifier.dimensions"></vfg>
                        <vfg label="'Units'" value="identifier.units"></vfg>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button ng-click="addNewIdentifier();" class="copybutton">Add Identifier</button>
            </td>
        </tr>
        <tr ng-repeat="variant in formulaVariants">
            <th>{{($index == 0)?'Variants':'';}}</th>
            <td>
                <div class="formula-editor-variant">
                                         <input type="text" ng-model="variant.title" />
                                        <input type="text" ng-model="variant.content" />
                    <textarea ng-model="variant.interpretation" rows="2"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button ng-click="addNewVariant();" class="copybutton">Add Variant</button>
            </td>
        </tr>
        <tr>
            <th>Fields</th>
            <td>
                <span ng-repeat="field in possibleFields" ng-class="(formulaFields.indexOf(field) > -1)? 'option-set':'';" class="option" ng-click="addOrRemoveField(field);">{{field}}</span>
            </td>
        </tr>
        <tr>
            <th>References</th>
            <td>
                <span ng-repeat="reference in possibleReferences" class="option" ng-click="addOrRemoveReference(reference.reference);">{{reference.title}}</span>
            </td>
        </tr>
        <tr>
            <th>File Name</th>
            <td>
                <input type="text" ng-model="formulaFileName" class="formula-editor-filename" id="formula-editor-filename" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button class="copybutton" data-clipboard-target="#formula-editor-filename">Copy file name</button>
            </td>
        </tr>
        <tr>
            <th>File Text</th>
            <td><textarea ng-model="formulaFileText" class="formula-editor-filetext" id="formula-editor-filetext" style="height: 400px; font-family:Consolas;"></textarea></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button class="copybutton" data-clipboard-target="#formula-editor-filetext">Copy file text</button>
            </td>
        </tr>

    </table>
</div>