<div class="formula-editor">
    <h2>Formula Editor</h2>
    <table>
        <tr>
            <th>Title</th>
      <td><input type="text" ng-model="formulaTitle" /></td>
        </tr>
         <tr>
                 <th>Content</th>
             <td><input    type="text" ng-model="formulaContent"  /></td>
         </tr>
        <tr>
            <th>Interpretation</th>
            <td><textarea ng-model="formulaInterpretation"></textarea></td>
        </tr>
         <tr>
             <th>File Text</th>
             <td><textarea ng-model="formulaFileText" style="height: 400px;"></textarea></td>
         </tr>
    </table>
</div>