<h3>References</h3>
<ol ng-show="references.length > 0">
    <li ng-repeat="reference in references">
        <span ng-if="reference.Type == 'Webpage'">
            <em>{{reference.Title}}</em>, {{reference.WebsiteTitle}} - <a href="{{reference.URL}}" target="_blank" title="{{reference.Title}}">{{reference.URL}}</a>
        </span>
        <span ng-if="reference.Type == 'Book'">
            <em>{{reference.Title}}</em>, <span ng-show="reference.PageNumber > 0">p. {{reference.PageNumber}}, </span> {{$parent.$parent.$parent.getAuthorsString(reference.Authors)}} ({{reference.PublisherName}}) <strong>ISBN {{reference.ISBN}}</strong><span ng-if="reference.URL != '' && reference.URL != null">, <a href="{{reference.URL}}" title="{{reference.Title}}" target="_blank">{{reference.URL}}</a></span>
        </span>
    </li>
</ol>
<p ng-show="references.length == 0">
    No references have been given for this {{pageType}}.
</p>