<p>This website is a physics formulary - essentially a dictionary of physics formulae. You can use it to look up common physics formulae.</p>
<p>The list of formulae is being added to all the time - if your favourite equation is not in here yet, it might be soon. You can see the source code for this project on GitHub: <a href="https://github.com/BenjaminTMilnes/PhysicsFormulae" target="_blank" title="Physics Formulae on GitHub">https://github.com/BenjaminTMilnes/PhysicsFormulae</a>. This project has been created by <a href="http://www.benjamintmilnes.com" title="B. T. Milnes' Blog">B. T. Milnes</a>.</p>
<div class="search">
    <div class="search-formula" ng-repeat="formula in formulae">
        <h3 class="search-formula-title">{{formula.Title}}</h3>
        <div class="search-formula-content">
            <a href="#/formula/{{formula.Reference}}" title="{{formula.Title}}">
                <katex latex="{{ '\\displaystyle ' + formula.Content}}"></katex>
            </a>
        </div>
        <p class="search-formula-interpretation">{{formula.Interpretation}}</p>
        <div class="search-formula-fields">
            <span class="search-formula-field" ng-repeat="field in formula.Fields">{{field}}</span>
        </div>
    </div>
</div>