<p>This website is a physics formulary - essentially a dictionary of physics formulae. You can use it to look up common physics formulae. It currently contains <strong>{{formulae.length}}</strong> physics formulae and <strong>{{constants.length}}</strong> constants.</p>
<p>The list of formulae is being added to all the time - if your favourite equation is not in here yet, it might be soon. You can see the source code for this project on GitHub: <a href="https://github.com/BenjaminTMilnes/PhysicsFormulae" target="_blank" title="Physics Formulae on GitHub">https://github.com/BenjaminTMilnes/PhysicsFormulae</a>. This project has been created by <a href="http://www.benjamintmilnes.com" title="B. T. Milnes' Blog">B. T. Milnes</a>.</p>
<p>Have a look at the <a href="#/formula-of-the-day" title="Formula of the Day">formula of the day</a>.</p>
<div class="search">
    <div class="search-textbox">
        <input type="text" ng-model="searchTerms" placeholder="Search for a formula or constant" />
    </div>
    <div class="search-results-pagenumbers">
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber - 1)">&larr;</div>
        <div class="pagenumber {{page.class}}" ng-repeat="page in pages" ng-click="setPageNumber(page.pageNumber)">{{(page.pageNumber == -1) ? "..." : page.pageNumber}}</div>
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber + 1)">&rarr;</div>
    </div>
    <div class="search-results">
        <div class="search-results-leftcolumn">
            <div class="search-formula" ng-repeat="formula in currentPageFormulaSearchResults">
                <h3 class="search-formula-title"><a href="#/formula/{{formula.URLReference}}" title="{{formula.Title}}">{{formula.Title}}</a></h3>
                <div class="search-formula-content">
                    <a href="#/formula/{{formula.URLReference}}" title="{{formula.Title}}">
                        <mathematics content-type="latex" content="{{ '\\displaystyle ' + formula.Content}}"></mathematics>
                    </a>
                </div>
                <p class="search-formula-interpretation" compile="replaceMathematicsMarkers(formula.Interpretation)"></p>
                <div class="search-formula-fields">
                    <span class="search-formula-field" ng-repeat="field in formula.Fields" style="background-color: {{getColourOfWord(field)}};"><a href="#/field/{{field}}" title="Search for other formulae in {{field}}.">{{field}}</a></span>
                </div>
            </div>
        </div>
        <div class="search-results-rightcolumn">
            <div class="search-constant" ng-repeat="constant in currentPageConstantSearchResults">
                <h3 class="search-constant-title"><a href="#/constant/{{constant.URLReference}}" title="{{constant.Title}}">{{constant.Title}}</a></h3>
                <div class="search-constant-symbol">
                    <a href="#/constant/{{constant.URLReference}}" title="{{constant.Title}}">
                        <mathematics content-type="latex" content="{{ '\\displaystyle ' + constant.Symbol}}"></mathematics>
                    </a>
                </div>
                <p class="search-constant-interpretation">{{constant.Interpretation}}</p>
            </div>
        </div>
    </div>
    <div class="search-results-pagenumbers">
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber - 1)">&larr;</div>
        <div class="pagenumber {{page.class}}" ng-repeat="page in pages" ng-click="setPageNumber(page.pageNumber)">{{(page.pageNumber == -1) ? "..." : page.pageNumber}}</div>
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber + 1)">&rarr;</div>
    </div>
</div>