<p>This website is a physics formulary - essentially a dictionary of physics formulae. You can use it to look up common physics formulae. It currently contains <strong>{{formulae.length}}</strong> physics formulae and <strong>{{constants.length}}</strong> constants.</p>
<p>The list of formulae is being added to all the time - if your favourite equation is not in here yet, it might be soon. You can see the source code for this project on GitHub: <a href="https://github.com/BenjaminTMilnes/PhysicsFormulae" target="_blank" title="Physics Formulae on GitHub">https://github.com/BenjaminTMilnes/PhysicsFormulae</a>. This project has been created by <a href="http://www.benjamintmilnes.com" title="B. T. Milnes' Blog">B. T. Milnes</a>.</p>
<div class="search">
    <div class="search-textbox">
        <input type="text" value="" ng-model="searchTerms" placeholder="Search for a formula" />
    </div>
    <div class="search-results">
        <div class="search-results-leftcolumn">
            <div class="search-formula" ng-repeat="formula in formulae | searchFormulae : searchTerms | orderBy : formula.Reference">
                <h3 class="search-formula-title"><a href="#/formula/{{formula.Reference}}" title="{{formula.Title}}">{{formula.Title}}</a></h3>
                <div class="search-formula-content">
                    <a href="#/formula/{{formula.Reference}}" title="{{formula.Title}}">
                        <katex latex="{{ '\\displaystyle ' + formula.Content}}"></katex>
                    </a>
                </div>
                <p class="search-formula-interpretation" compile="replaceMathematicsMarkers(formula.Interpretation)"></p>
                <div class="search-formula-fields">
                    <span class="search-formula-field" ng-repeat="field in formula.Fields">{{field}}</span>
                </div>
            </div>
        </div>
        <div class="search-results-rightcolumn">
            <div class="search-constant" ng-repeat="constant in constants">
                <h3 class="search-constant-title"><a href="#/constant/{{constant.Reference}}" title="{{constant.Title}}">{{constant.Title}}</a></h3>
                <div class="search-constant-symbol">
                    <a href="#/constant/{{constant.Reference}}" title="{{constant.Title}}">
                        <katex latex="{{ '\\displaystyle ' + constant.Symbol}}"></katex>
                    </a>
                </div>
                <p class="search-constant-interpretation">{{constant.Interpretation}}</p>
            </div>
        </div>
    </div>
</div>