body {
    padding: 70px;
    margin:0px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #202020;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
     font-size:22px;
     text-transform:uppercase;
    margin: 22px 0px;
}


p {
    font-size: 17px;
    margin: 17px 0px;
      text-align:justify;
}

a {
      color: #105ecc;
        text-decoration: none;
  
}

    a:hover {
        text-decoration: underline;
       }

.search-formula {
    margin: 70px 0px;
}

.search-formula-title {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.search-formula-content {
    font-size: 40px;
    margin: 40px;
}

.formula {
}

    .formula h3 {
        font-size: 27px;
        margin: 42px 0px 17px 0px;
    }

    .formula ul, .formula ol {
        font-size: 17px;
        margin: 17px 0px;
    }

.formula-title {
    font-size: 42px;
    margin:0px;
}

.formula-content {
    font-size: 70px;
    margin: 100px 0px;
    text-align: center;
}

.formula-identifiers p, 
.formula-interpretation {
    font-size: 22px;
    text-indent: 27px;
    margin: 27px 0px;
}

.formula-identifiers table {
    font-size: 22px;
    margin: 27px auto;
    max-width: 700px;
    border-collapse: separate;
    border-spacing: 17px;
}

    .formula-identifiers table td {
        padding: 0px 10px;
    }

.identifier-content {
    text-align: right;
}
 

.formula-fields {
    font-size: 17px;
    margin: 27px 0px 70px 0px;
}

.field {
    display: inline-block;
    padding: 7px 17px;
    margin: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    background-color: #105ecc;
}

.attribute {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.attribute-header {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    padding: 14px;
    text-align: center;
}

.attribute-content {
    flex: 7;
}


.formula-latex-content {
    font-family: Consolas, Courier New, Courier, monospace;
    font-size: 14px;
    color: #000000;
    background-color: #F0F0F0;
    padding: 14px 14px 42px 14px;
    cursor:text;
}


.formula-references {
    margin: 70px 0px 0px 0px;
}


    .formula-references p {
        font-size: 17px;
        margin: 17px 0px;
    }

    .formula-references a, .formula-seemore a {
        color: #105ecc;
        text-decoration: none;
    }

        .formula-references a:hover, .formula-seemore a:hover {
            text-decoration: underline;
        }
