body {
    padding: 20px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #202020;
    overflow-wrap: break-word;
}

@media (min-width:400px) {
    body {
        padding: 40px;
    }
}

@media (min-width:700px) {
    body {
        padding: 70px;
        overflow-wrap: normal;
    }
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 17px;
    text-transform: uppercase;
    margin: 17px 0px;
    text-align: center;
}

p {
    font-size: 14px;
    margin: 17px 0px;
    text-align: left;
}

code {
    display: block;
}

@media (min-width:400px) {
    h1 {
        font-size: 22px;
        margin: 0px 0px 22px 0px;
        text-align: left;
    }

    p {
        font-size: 17px;
        margin: 22px 0px;
        text-align: justify;
    }
}

p strong {
    font-weight: normal;
}

a {
    color: #105ecc;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.search {
    margin: 0px 0px 200px 0px;
}

.search-textbox {
    margin-bottom: 40px;
}

    .search-textbox input {
        width: 100%;
        box-sizing: border-box;
        padding: 9px 14px;
        font-size: 14px;
        font-family: inherit;
        font-weight: inherit;
        border: 1px solid #D0D0D0;
        border-radius: 2px;
    }

@media (min-width:400px) {

    .search-textbox input {
        padding: 10px 17px;
        font-size: 17px;
    }
}

.search-results {
    display: flex;
    flex-direction: row;
}

.search-results-leftcolumn {
    flex-basis: 66%;
    padding-right: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.search-results-rightcolumn {
    padding-left: 40px;
    flex-basis: 33%;
}

.search-formula, .search-constant {
    margin: 40px 0px;
}

@media (min-width:400px) {

    .search-formula, .search-constant {
        margin: 70px 0px;
    }
}

@media (min-width:700px) {

    .search-formula, .search-constant {
        margin: 100px 0px;
    }
}

.search-formula-title, .search-constant-title {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

    .search-formula-title a, .search-constant-title a {
        color: inherit;
        text-decoration: inherit;
    }

        .search-formula-title a:hover, .search-constant-title a:hover {
            color: #105ecc;
            text-decoration: inherit;
        }

.search-formula-content, .search-constant-symbol {
    font-size: 22px;
    margin: 22px 0px;
    text-align: center;
}

@media (min-width:400px) {
    .search-formula-title {
        font-size: 22px;
    }

    .search-formula-content {
        font-size: 42px;
        margin: 42px 0px;
    }
}

@media (min-width:700px) {
    .search-formula-content {
        margin: 42px;
        text-align: left;
    }
}

.search-formula-content a, .search-constant-symbol a {
    color: #202020;
    text-decoration: none;
}

    .search-formula-content a:hover, .search-constant-symbol a:hover {
        color: #105ecc;
        text-decoration: none;
    }

.search-formula p, .search-constant p {
    font-size: 14px;
    margin: 14px 0px;
}

.search-formula-fields {
    font-size: 12px;
}

.search-formula-field {
    display: inline-block;
    padding: 2px 12px;
    margin: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    background-color: #105ecc;
}

@media (min-width:400px) {
    .search-formula-fields {
        font-size: 14px;
    }

    .search-formula-field {
        padding: 4px 14px;
    }
}

.formula, .listedconstant {
    margin: 0px 0px 200px 0px;
}

    .formula h3, .listedconstant h3 {
        font-size: 20px;
        margin: 27px 0px 14px 0px;
    }

    .formula h4, .listedconstant h4 {
        font-size: 17px;
        margin: 17px 0px;
        text-decoration: underline;
    }

    .formula ul, .formula ol, .listedconstant ul, .listedconstant ol {
        font-size: 14px;
        margin: 14px 0px;
    }

@media (min-width:400px) {

    .formula h3, .listedconstant h3 {
        font-size: 27px;
        margin: 42px 0px 17px 0px;
    }

    .formula h4, .listedconstant h4 {
        font-size: 22px;
        margin: 22px 0px;
    }

    .formula ul, .formula ol, .listedconstant ul, .listedconstant ol {
        font-size: 17px;
        margin: 17px 0px;
    }
}

.formula-title, .constant-title {
    font-size: 27px;
    margin: 0px;
    text-align: center;
}

.formula-content {
    font-size: 40px;
    margin: 70px 0px;
    text-align: center;
}

.constant-symbol {
    font-size: 40px;
    margin: 40px 0px;
    text-align: center;
}

@media (min-width:400px) {

    .formula-title, .constant-title {
        font-size: 33px;
        text-align: left;
    }

    .formula-content, .constant-symbol {
        font-size: 49px;
    }
}

@media (min-width:700px) {

    .formula-title, .constant-title {
        font-size: 40px;
    }

    .formula-content {
        font-size: 70px;
        margin: 100px 0px;
    }

    .constant-symbol {
        font-size: 70px;
        margin: 70px 0px;
    }
}

.formula-identifiers p, .formula-interpretation, .constant-interpretation {
    font-size: 17px;
    margin: 20px 0px;
}

.formula-identifiers table {
    font-size: 17px;
    margin: 0px 10px;
    max-width: 900px;
    border-collapse: separate;
    border-spacing: 10px;
}

.constant-values {
    font-size: 17px;
    margin: 0px 10px;
    max-width: 900px;
    border-collapse: separate;
    border-spacing: 10px;
    font-weight: normal;
}

.formula-identifiers table td {
    padding: 0px;
}

.constant-values td {
    padding: 0px;
}

.constant-values-copybuttons {
    display: none;
}

@media (min-width:400px) {

    .formula-identifiers p, .formula-interpretation, .constant-interpretation {
        font-size: 22px;
        margin: 27px 0px;
        text-align: justify;
    }

    .formula-identifiers table {
        font-size: 22px;
        margin: 27px auto;
        border-spacing: 14px;
    }

    .constant-values {
        font-size: 22px;
        margin: 27px auto;
        border-spacing: 14px;
    }

    .formula-identifiers table td {
        padding: 0px 7px;
    }

    .constant-values td {
        padding: 0px 14px;
    }

    .constant-values-copybuttons {
        display: table-cell;
    }
}

@media (min-width:700px) {

    .formula-identifiers p, .formula-interpretation, .constant-interpretation {
    }

    .formula-identifiers table {
        border-spacing: 17px;
    }

        .formula-identifiers table td {
            padding: 0px 10px;
        }
}

.variable, .constant, .scalar, .vector, .matrix, .tensor {
    font-size: 14px;
    display: inline-block;
    padding: 4px 14px;
    margin: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    cursor: default;
    min-width: 40px;
    text-align: center;
}

.variable {
    background-color: #dd1c83;
}

.constant {
    background-color: #1a7c62;
}

.scalar {
    background-color: #f79216;
}

.vector {
    background-color: #2cb5f4;
}

.matrix {
    background-color: #1da011;
}

.tensor {
    background-color: #c4119a;
}

@media (min-width:400px) {
    .variable, .constant, .scalar, .vector, .matrix, .tensor {
        font-size: 17px;
    }
}

.formula-fields {
    font-size: 14px;
    margin: 20px 0px;
}

.formula-tags, .constant-tags {
    display: none;
    font-size: 12px;
}

.field {
    display: inline-block;
    padding: 4px 14px;
    margin: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    background-color: #643491;
}

    .field a {
        color: inherit;
        text-decoration: inherit;
    }

.tag {
    color: #105ecc;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 12px;
}

    .tag:hover {
        text-decoration: underline;
    }

@media (min-width:400px) {

    .formula-fields {
        font-size: 17px;
        margin: 27px 0px;
    }

    .formula-tags, .constant-tags {
        display: block;
        font-size: 14px;
        margin: 27px 0px;
    }

    .field {
        padding: 7px 17px;
    }
}

@media (min-width:700px) {

    .formula-fields {
    }

    .formula-tags, .constant-tags {
        margin: 27px 0px 70px 0px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    padding: 7px;
    box-sizing: border-box;
    flex-basis: 100%;
}

@media (min-width:700px) {
    .card {
        padding: 10px;
        flex-basis: 50%;
    }
}

@media (min-width:1000px) {
    .card {
        flex-basis: 33%;
    }
}

.formula-variants {
}

.variant {
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 1px;
}

@media (min-width:400px) {
    .variant {
        padding: 27px;
    }
}

h4.variant-title {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

@media (min-width:400px) {
    h4.variant-title {
        font-size: 17px;
    }
}

.variant-content {
    text-align: center;
    margin: 27px 0px;
    font-size: 1.2em;
}

@media (min-width:400px) {
    .variant-content {
        margin: 40px 0px;
    }
}

.attribute {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.attribute-header {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    padding: 14px;
    text-align: center;
}

.attribute-content {
    flex: 1;
}

@media (min-width:400px) {

    .attribute {
        flex-direction: row;
    }

    .attribute-header {
        flex: 1;
    }

    .attribute-content {
        flex: 7;
    }
}

.formula-latex, .formula-bibtex, .constant-bibtex {
    display: none;
}

@media (min-width:700px) {
    .formula-latex, .formula-bibtex, .constant-bibtex {
        display: block;
    }
}

.formula-bibtex, .constant-bibtex {
    margin-top: 70px;
}

.formula-latex-content, .formula-bibtex-content, .constant-bibtex-content {
    font-family: Consolas, Courier New, Courier, monospace;
    font-size: 14px;
    color: #000000;
    background-color: #F0F0F0;
    padding: 14px 14px 42px 14px;
    margin: 14px 0px;
    cursor: text;
}

.formula-latex-content {
    white-space: pre-line;
}

.formula-bibtex-content, .constant-bibtex-content {
    white-space: pre;
}

.formula-references, .constant-references {
}

    .formula-references p, .constant-references p {
        font-size: 14px;
        margin: 14px 0px;
    }

    .formula-references a, .formula-seemore a, .constant-references a, .constant-seemore a {
        color: #105ecc;
        text-decoration: none;
    }

        .formula-references a:hover, .formula-seemore a:hover, .constant-references a:hover, .constant-seemore a:hover {
            text-decoration: underline;
        }

@media (min-width:700px) {

    .formula-references, .constant-references {
        margin: 70px 0px 0px 0px;
    }

        .formula-references p, .constant-references p {
            font-size: 17px;
            margin: 17px 0px;
        }
}

.copybutton {
    font-size: 17px;
    padding: 7px 17px;
    margin: 2px 2px 2px 0px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    background-color: #105ecc;
    border: none;
}

    .copybutton:hover {
        background-color: #2f7ae2;
    }
